*{
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  background-color: #6bbcbe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  color: white;
  width: 120px;
  justify-content: space-between;
  align-items: center
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.circle {
  animation: rotate  1s ease-in-out infinite;
  margin-bottom: 150px;
}

.circle li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
}

@keyframes rotate {
  from {
    transform: none;
  }

  to {
    transform: rotate(180deg);
  }
}

.stick li {
  width: 15px;
  height: 70px;
  background-color: white;
  animation: bigger 0.8s ease-in infinite forwards;
}

.stick li:nth-child(2) {
  animation-delay: 0.1s
}

.stick li:nth-child(3) {
  animation-delay: 0.2s
}

.stick li:nth-child(4) {
  animation-delay: 0.3s
}

.stick li:last-child {
  animation-delay: 0.4s
}

@keyframes bigger {
  0% {
    transform: none;
  }

  50% {
    transform: scaleY(2);
  }
  60%{
    transform: scaleY(1.7);
  }
  65%{
    transform: scaleY(1.5);
  }
  70%{
    transform: scaleY(1.3);
  }
  80% {
    transform: none;
  }
  90% {
    transform: none;
  }
  100% {
    transform: none;
  }
}